<!doctype html>
<html lang="ro">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{{ title or "Secure Flask Lab" }}</title>
    </head>
    <body>
    <!-- <nav>
        {% if session.get("user_id") %}
        <a href="{{ url_for('profile') }}">Profile</a> |
        <a href="{{ url_for('transfer') }}">Transfer</a> |
        <form action="{{ url_for('logout') }}" method="post" style="display:inline;">
            <button type="submit">Logout</button>
        </form>
        {% else %}
        <a href="{{ url_for('login') }}">Login</a> |
        <a href="{{ url_for('register') }}">Register</a>
        {% endif %}
    </nav> -->

    <!-- {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for msg in messages %}
            <li>{{ msg }}</li>
            {% endfor %}
        </ul>
        {% endif %} -->
    <!-- {% endwith %} -->

    <hr/>

    {% block content %}{% endblock %}
</body>
</html>